@model List<Vehicle>
@{
    ViewData["Title"] = ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-lg-1 order-2 pt-10 pt-lg-0">
                    @*@*<div class="sidebar-area">
                    <div class="widgets-area mb-9">
                    <h2 class="widgets-title mb-5">Hãng</h2>
                    <div class="widgets-item">
                    <ul class="widgets-checkbox">
                    <li>
                    <input class="input-checkbox" type="checkbox" id="color-selection-1">
                    <label class="label-checkbox mb-0" for="color-selection-1">
                    Honda
                    <span>7</span>
                    </label>
                    </li>
                    <li>
                    <input class="input-checkbox" type="checkbox" id="color-selection-2" checked>
                    <label class="label-checkbox mb-0" for="color-selection-2">
                    Yamaha
                    <span>3</span>
                    </label>
                    </li>
                    <li>
                    <input class="input-checkbox" type="checkbox" id="color-selection-3">
                    <label class="label-checkbox mb-0" for="color-selection-3">
                    SYM
                    <span>4</span>
                    </label>
                    </li>
                    <li>
                    <input class="input-checkbox" type="checkbox" id="color-selection-4">
                    <label class="label-checkbox mb-0" for="color-selection-4">
                    Suzuki
                    <span>6</span>
                    </label>
                    </li>
                    </ul>
                    </div>
                    </div>
                    </div>*@
                </div>

                <div class="col-lg-9 order-lg-2 order-1">
                    <div class="product-topbar">
                        <ul>
                            <li class="product-view-wrap">
                                <ul class="nav" role="tablist">
                                    <li class="grid-view" role="presentation">
                                        <a class="active" id="grid-view-tab" data-bs-toggle="tab" href="#grid-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th"></i>
                                        </a>
                                    </li>
                                    <li class="list-view" role="presentation">
                                        <a id="list-view-tab" data-bs-toggle="tab" href="#list-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                             <li class="short">
                                <label>
                                    <select id="sortSelect">
                                        <option value="0">Tất cả</option>
                                        <option value="1">Tăng dần theo giá</option>
                                        <option value="2">Giảm dần theo giá</option>
                                    </select>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content text-charcoal pt-8">
                        <div class="tab-pane fade" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row">
                                @if (Model != null && Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        string url = $"/{item.VehicleId}.html";
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img class="img-full" src="~/images/vehicles/@item.Image.ImageFont" alt="">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li class="add-to-cart">
                                                                <a><i class="pe-7s-cart"></i></a>
                                                                <input hidden asp-for="@item.VehicleId" />
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" href="@url">@item.VehicleName</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.PricePerDay.Value.ToString("#,##0") VNĐ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                            <div class="product-list-view with-sidebar row">
                                @if (Model != null && Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        string url = $"/{item.VehicleId}.html";
                                        <div class="col-12">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img class="img-full" src="~/images/vehicles/@item.Image.ImageFont" alt="">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li class="add-to-cart">
                                                                <a><i class="pe-7s-cart"></i></a>
                                                                <input hidden asp-for="@item.VehicleId" />
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content align-self-center">
                                                    <a class="product-name pb-2" href="@url">@item.VehicleName</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.PricePerDay.Value.ToString("#,##0")</span>
                                                    </div>
                                                    @*<div class="rating-box pb-2">
                                            <ul>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            </ul>
                                            </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $(function () {
                $(".add-to-cart").click(function () {
                    var vehicleid = $(this).find("input").val();
                    $.ajax({
                        url: '/api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            vehicleID: vehicleid
                        },
                        success: function (response) {
                            if (response.result == 'Redirect') {
                                window.location = response.url;
                            }
                            else {
                                loadHeaderCart();
                                location.reload();
                            }
                            console.log(response);
                        },
                        error: function (error) {
                            alert("Vui lòng đăng nhập trước" + error.responseText);
                        }
                    });
                });
            });

            function loadHeaderCart() {
                $("#headerCart").load("/AjaxContent/HeaderCart");
            }
        });
    </script>

}