@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<MotoRental.Models.Brand>

@{
    ViewData["Title"] = "Hãng xe: " + ViewBag.CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminBrands" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Hãng xe: page @ViewBag.CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminBrands" asp-action="Create"> <i class="anticon anticon-plus-circle m-r-5"></i> <span>Thêm hãng mới</span></a>

            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên hãng xe</th>
                        <th>Mô tả</th>
                        <th>#</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.BrandId</td>
                                <td>@item.BrandName</td>
                                <td>@item.Description</td>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminBrands" asp-action="Details" asp-route-id="@item.BrandId">View</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminBrands" asp-action="Edit" asp-route-id="@item.BrandId">Edit</a>
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminBrands" asp-action="Delete" asp-route-id="@item.BrandId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="page-container" list="@Model" asp-area="Admin" asp-controller="AdminBrands" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

