@using MotoRental.Models;
@model List<Vehicle>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.VehicleId</td>
            <td>
                <div class="d-flex align-items-center">
                    <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                    <h6 class="m-b-0 m-l-10">@item.VehicleName</h6>
                </div>
            </td>
            <td>@item.Brand?.BrandName</td>
            <td>@item.LicensePlate</td>
            <td>@item.PricePerDay.Value.ToString("#, ##0") VND</td>
            <td>@item.Kilometers</td>
            <td>
                @if (@item.Status.Value == 1)
                {
                    <div class="d-flex align-items-center">
                        <div class="badge badge-success badge-dot m-r-10"></div>
                        <div>Đang thuê</div>
                    </div>
                }
                @if (@item.Status.Value == 0)
                {
                    <div class="d-flex align-items-center">
                        <div class="badge badge-success badge-dot m-r-10"></div>
                        <div>Trống</div>
                    </div>
                }
            </td>
            <td>@item.User?.FullName</td>
            <td>
                <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminVehicles" asp-action="Details" asp-route-id="@item.VehicleId">View</a>
                <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminVehicles" asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a>
                <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminVehicles" asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
            </td>
        </tr>
    }
}
