@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<MotoRental.Models.Rental>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Jobber/Views/Shared/_JobberLayout.cshtml";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Jobber" asp-controller="JobberRentals" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách đơn hàng</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Người thuê</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Giá</th>
                        <th>Ghi chú</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.RentalId</td>
                                <td>@item.RentalName</td>
                                <td>@item.DateFrom</td>
                                <td>@item.DateTo</td>
                                <td>@item.Price.Value.ToString("#,##0") VND</td>
                                <td>@item.Message</td>
                                <td>@item.Status?.StatusName</td>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Jobber" asp-controller="JobberRentals" asp-action="Details" asp-route-id="@item.RentalId">View</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Jobber" asp-controller="JobberRentals" asp-action="Edit" asp-route-id="@item.RentalId">Edit</a>
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Jobber" asp-controller="JobberRentals" asp-action="Delete" asp-route-id="@item.RentalId">Delete</a>
                                    <a data-target="#modal-header" data-toggle="modal" class="btn btn-secondary btn-tone m-r-5" asp-area="Jobber" asp-controller="JobberRentals" asp-action="ChangeStatus" asp-route-id="@item.RentalId">Change Status</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="page-container" list="@Model" asp-area="Jobber" asp-controller="JobberRentals" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="modal-header" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#modal-header').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var url = button.attr("href");
            var modal = $(this);
            // note that this will replace the content of modal-content ever time the modal is opened
            modal.find('.modal-content').load(url);
        });
    </script>

}