@model MotoRental.Models.Rental

@{
    ViewData["Title"] = "Quản Lý Doanh Thu";
    int TotalMoney = ViewBag.TotalSum;
    int TotalMonth = ViewBag.TotalMonth;
    int TotalOrders = ViewBag.TotalOrders;
    int TotalOrdersUser = ViewBag.TotalOrdersUser;
    var monthlyData = ViewBag.MonthlyData as List<dynamic>;
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Quản Lý Doanh Thu</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <!-- Page Container START -->
        <div class="container">
            <!-- Content Wrapper START -->
            <div class="main-content">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Thẻ chọn năm -->
                        <div class="form-group">
                            <label for="yearSelect">Chọn năm:</label>
                            <select id="yearSelect" class="form-control">
                                @for (int year = DateTime.Now.Year; year >= 2000; year--)
                                {
                                    <option value="@year">@year</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Thẻ chọn tháng -->
                        <div class="form-group">
                            <label for="monthSelect">Chọn tháng:</label>
                            <select id="monthSelect" class="form-control">
                                @for (int month = 1; month <= 12; month++)
                                {
                                    <option value="@month">@month</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Nút xuất dữ liệu -->
                        <div class="form-group">
                            <label for="exportButton" style="visibility: hidden;">Label ẩn</label>
                            <button id="exportButton" class="btn btn-primary btn-block">Thống Kê</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <div class="avatar avatar-icon avatar-lg avatar-blue">
                                        <i class="anticon anticon-dollar"></i>
                                    </div>
                                    <div class="m-l-5">
                                        <p class="m-b-0 text-muted">Tổng doanh thu trong năm</p>
                                        <h2 class="m-b-0" id="totalRevenueInYear">0 VNĐ</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <div class="avatar avatar-icon avatar-lg avatar-gold">
                                        <i class="anticon anticon-profile"></i>
                                    </div>
                                    <div class="m-l-10">
                                        <p class="m-b-0 text-muted">Tổng đơn hàng</p>
                                        <h2 class="m-b-0">@TotalOrders</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <div class="avatar avatar-icon avatar-lg avatar-purple">
                                        <i class="anticon anticon-user"></i>
                                    </div>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">Tổng khách hàng</p>
                                        <h2 class="m-b-0">@TotalOrdersUser</h2>
                                        <i class="anticon anticon-dollar"></i>
                                    </div>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">Doanh thu theo tháng</p>
                                        <h2 class="m-b-0">@TotalMonth</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <div class="avatar avatar-icon avatar-lg avatar-blue">
                                        <i class="anticon anticon-dollar"></i>
                                    </div>
                                    <div class="m-l-5">
                                        <p class="m-b-0 text-muted">Tổng doanh thu trong tháng</p>
                                        <h2 class="m-b-0" id="totalRevenueInMonth">0 VNĐ</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Vẽ biểu đồ-->
                <div class="row">
                    <div class="col-md-12">
                        <canvas id="revenueChart" width="800" height="400"></canvas>
                    </div>
                </div>
            </div>
            <!-- Content Wrapper END -->
        </div>
        <!-- Page Container END -->
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    function setupExportButton() {
        var exportButton = document.getElementById('exportButton');
        exportButton.addEventListener('click', function () {
            var year = document.getElementById('yearSelect').value;
            var month = document.getElementById('monthSelect').value;

            fetch(`/Admin/AdminRevenue/ExportData?year=${year}&month=${month}`)
                .then(response => response.json())
                .then(data => {
                    console.log('isEmpty:', data.isEmpty);
                    if (data && data.hasOwnProperty('isEmpty') && typeof data.isEmpty === 'boolean') {
                        if (data.isEmpty) {
                            Swal.fire({
                                icon: 'info',
                                title: 'Thông Báo',
                                text: 'Tháng này chưa có doanh thu !!!',
                            });
                        } else {
                            drawChart(data);
                        }
                    } else {
                        console.error('Invalid data format from server');
                    }
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        });
    }
    function drawChart(data) {
        console.log('Data from Controller:', data);
        var ctx = document.getElementById('revenueChart').getContext('2d');
        var { labels, values, totalRevenueInMonth, totalRevenueInYear } = prepareChartData(data);
        console.log("Tháng :", totalRevenueInMonth);
        console.log("Năm :", totalRevenueInYear);
        if (window.revenueChart && typeof window.revenueChart.destroy === 'function') {
            window.revenueChart.destroy();
        }

        window.revenueChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Doanh Thu',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 0.5,
                    data: values,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        suggestedMin: 0,
                        ticks: {
                            stepSize: 10000 // Bước giảm/giữa các giá trị trục y
                        }
                    },
                    x: {
                        suggestedMin: 0,
                        beginAtZero: true
                    }
                }
            }
        });

        // Cập nhật tổng doanh thu trong tháng
        updateTotalRevenueInMonth(totalRevenueInMonth);
        updateTotalRevenueInYear(totalRevenueInYear);
    }

    function prepareChartData(data) {
        var selectedYear = document.getElementById('yearSelect').value;
        var selectedMonth = document.getElementById('monthSelect').value;

        // Lấy ngày đầu tiên của tháng để xác định số ngày trong tháng
        var firstDayOfMonth = moment(`${selectedMonth}/01/${selectedYear}`, 'MM/DD/YYYY');
        var daysInMonth = firstDayOfMonth.daysInMonth();

        // Khởi tạo mảng cho labels và values, sử dụng fill() để tạo mảng có giá trị mặc định
        var labels = Array.from({ length: daysInMonth }, (_, i) => i + 1).map(day => `Ngày ${day}`);
        var values = Array(daysInMonth).fill(0);

        // Tính tổng doanh thu trong tháng và năm
        var totalRevenueInMonth = 0;
        var totalRevenueInYear = 0;

        if (data && data.data && data.data.length > 0) {
            totalRevenueInMonth = data.data.reduce((total, item) => total + item.total, 0);
        }

        // Kiểm tra xem totalRevenueInYear có tồn tại không
        if (data && data.hasOwnProperty('totalRevenueInYear')) {
            totalRevenueInYear = data.totalRevenueInYear;
        }

        // Lặp qua từng ngày và cập nhật giá trị nếu có dữ liệu
        data.data.forEach(dayData => {
            var dayIndex = dayData.date - 1; // Ngày bắt đầu từ 1, mảng bắt đầu từ 0
            values[dayIndex] = dayData.total;
        });
        return { labels, values, totalRevenueInMonth, totalRevenueInYear };
    }

    //Cập nhật tổng doanh thu của tháng
    function updateTotalRevenueInMonth(totalRevenue) {
        console.log("Tổng doanh thu tháng (trước định dạng): ", totalRevenue);

        // Kiểm tra xem totalRevenue có phải là một số không
        if (typeof totalRevenue === 'number' && !isNaN(totalRevenue)) {
            // Áp dụng định dạng số tiền và cập nhật lên giao diện
            document.getElementById('totalRevenueInMonth').textContent = `${totalRevenue.toLocaleString()} VNĐ`;
        } else {
            console.error('Giá trị không hợp lệ cho tổng doanh thu tháng.');
        }
    }
    //Cập nhật tổng doanh thu của năm 
    function updateTotalRevenueInYear(totalRevenue) {
        console.log("Tổng doanh thu năm: ", totalRevenue);

        // Kiểm tra xem totalRevenue có phải là một số không
        if (typeof totalRevenue === 'number' && !isNaN(totalRevenue)) {
            // Áp dụng định dạng số tiền và cập nhật lên giao diện
            document.getElementById('totalRevenueInYear').textContent = `${totalRevenue.toLocaleString()} VNĐ`;
        } else {
            console.error('Giá trị không hợp lệ cho tổng doanh thu năm.');
        }
    }
    // Hàm để tạo danh sách tùy chọn cho ô chọn năm, tháng và ngày
    function populateDateFields() {
        var currentDate = new Date();
        var currentYear = currentDate.getFullYear();
        var currentMonth = currentDate.getMonth() + 1; // Tháng bắt đầu từ 0
        //var currentDay = currentDate.getDate();

        // Ô chọn năm
        var yearSelect = document.getElementById('yearSelect');
        for (var year = currentYear; year >= 2000; year--) {
            var option = document.createElement('option');
            option.value = year;
            option.text = year;
            yearSelect.add(option);
        }
        yearSelect.value = currentYear; // Đặt giá trị mặc định

        // Ô chọn tháng
        var monthSelect = document.getElementById('monthSelect');
        for (var month = 1; month <= 12; month++) {
            var option = document.createElement('option');
            option.value = month;
            option.text = month;
            monthSelect.add(option);
        }
        monthSelect.value = currentMonth; // Đặt giá trị mặc định

        // Ô chọn ngày
        // var daySelect = document.getElementById('daySelect');
        // for (var day = 1; day <= 31; day++) {
        //     var option = document.createElement('option');
        //     option.value = day;
        //     option.text = day;
        //     daySelect.add(option);
        // }
        // daySelect.value = currentDay; // Đặt giá trị mặc định
    }
  

    // Gọi hàm để tạo danh sách tùy chọn khi trang được tải
    document.addEventListener("DOMContentLoaded", function () {
        populateDateFields();
        setupExportButton();
    });

</script>