@model MotoRental.Models.User

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    h1 {
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    table {
        width: 50%;
        margin: 0 auto;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    input[type="submit"] {
        margin-top: 10px;
        padding: 10px 15px;
        border: none;
        background-color: #dc3545;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
    }

        input[type="submit"]:hover {
            background-color: #c82333;
        }

    .back-link {
        margin-top: 20px;
        color: #007bff;
        text-decoration: none;
    }

        .back-link:hover {
            text-decoration: underline;
        }
</style>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <table class="row">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <td>@Html.DisplayFor(model => model.FullName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <td>@Html.DisplayFor(model => model.Address)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <td>@Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LocationId)</th>
            <td>@Html.DisplayFor(model => model.LocationId)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Password)</th>
            <td>@Html.DisplayFor(model => model.Password)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Salt)</th>
            <td>@Html.DisplayFor(model => model.Salt)</td>
        </tr>
    </table>


</div>
<div class="actions">
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>
</div>