@model MotoRental.Models.Vehicle

@{
    ViewData["Title"] = "Sửa thông tin xe";
    Layout = "~/Areas/Jobber/Views/Shared/_JobberLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Jobber" asp-controller="JobberHome" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Jobber" asp-controller="JobberVehicles" asp-action="Index">Danh sách xe</a>
            <span class="breadcrumb-item active">Sửa thông tin xe: @Model.VehicleName</span>
        </nav>
    </div>
</div>

<form asp-controller="JobberVehicles" asp-action="Edit" asp-route-id="@Model.VehicleId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.VehicleId" />
    <input type="hidden" asp-for="@Model.BrandId" />
    <input type="hidden" asp-for="@Model.ImageId" />
    <input type="hidden" asp-for="@Model.DisplacementId" />
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
            </div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
    <div class="tab-content m-t-15">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Tên xe</label>
                        <input type="text" class="form-control" asp-for="@Model.VehicleName">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Biển số</label>
                        <input type="text" class="form-control" asp-for="@Model.LicensePlate">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Mô tả</label>
                        <input type="text" class="form-control" asp-for="@Model.Overview">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Giá thuê</label>
                            <input type="text" class="form-control" asp-for="@Model.PricePerDay">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Số Km</label>
                            <input type="text" class="form-control" asp-for="@Model.Kilometers">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Ngày đăng ký</label>
                        <input type="text" class="form-control" asp-for="@Model.RegDate">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productCategory">Hãng xe</label>
                            <select class="custom-select" asp-for="@Model.BrandId" style="min-width: 200px;" asp-items="ViewBag.BrandId">
                                <option value="" disabled selected>Chọn hãng xe</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productCategory">Phân khối</label>
                            <select class="custom-select" asp-for="@Model.DisplacementId" style="min-width: 200px;" asp-items="ViewBag.DisplacementId">
                                <option value="" disabled selected>Chọn phân khối</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Ảnh đại diện</label>
                        <input name="fThumb" type="file" class="form-control-file" asp-for="@Model.Image.ImageFont">
                        <span asp-validation-for="@Model.Image.ImageFont" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productBrand">Ảnh phụ 1</label>
                            <input name="fimage1" type="file" class="form-control-file" asp-for="@Model.Image.ImageLeftSide">
                            <span asp-validation-for="@Model.Image.ImageLeftSide" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productBrand">Ảnh phụ 2</label>
                            <input name="fimage2" type="file" class="form-control-file" asp-for="@Model.Image.ImageRightSide">
                            <span asp-validation-for="@Model.Image.ImageRightSide" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productBrand">Ảnh phụ 3</label>
                            <input name="fimage3" type="file" class="form-control-file" asp-for="@Model.Image.ImageBackSide">
                            <span asp-validation-for="@Model.Image.ImageBackSide" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

