@model IEnumerable<MotoRental.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Jobber/Views/Shared/_JobberLayout.cshtml";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Jobber" asp-controller="JobberVehicles" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách xe máy</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="txtCatID" name="txtCatID" style="min-width: 200px;" asp-items="ViewBag.DanhMuc">
                            <option selected>Chọn danh mục</option>
                            <option value="0">Chọn tất cả</option>
                        </select>

                    </div>

                    <div class="input-affix m-b-10">
                        <i class="prefix-icon anticon anticon-search"></i>
                        <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm xe">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminVehicles" asp-action="Create"> <i class="anticon anticon-plus-circle m-r-5"></i> <span>Thêm xe mới</span></a>

            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên xe</th>
                        <th>Hãng xe</th>
                        <th>Biển số</th>
                        <th>Giá theo ngày</th>
                        <th>Số Kilometer</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                @*<tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.VehicleId</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@item.VehicleName</h6>
                                    </div>
                                </td>
                                <td>@item.Brand.BrandName</td>
                                <td>@item.LicensePlate</td>
                                <td>@item.PricePerDay.Value.ToString("#, ##0") VND</td>
                                <td>@item.Kilometers</td>
                                <td>
                                    @if (@item.Status.Value == 1)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Đang thuê</div>
                                        </div>
                                    }
                                    @if (@item.Status.Value == 0)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Trống</div>
                                        </div>
                                    }
                                </td>
                                <td>@item.User.FullName</td>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminVehicles" asp-action="Details" asp-route-id="@item.VehicleId">View</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminVehicles" asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a>
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminVehicles" asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>*@
            </table>
            @*<div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="page-container" list="@Model" asp-area="Admin" asp-controller="AdminVehicles" asp-route-CatID="@ViewBag.CurrentBrandID" asp-action="Index" />
                </ul>
            </div>*@
        </div>
    </div>
</div>
